.section.sidebar { 
  top: 61px;
  border-bottom: 10px solid #063971;
  border-left: 10px solid gray;
  background-color: gray;
}

.navbar {
background-color: rgb(36,17,56);
border-color:black;
}

.sidebar{ 
  background-color: #8acfe6;
}

